/*全局样式*/

@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
button,
textarea,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:courier new, courier, monospace */
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 1366px;
  line-height: 1.5;
}

body,
button,
input,
select,
textarea {
  font-family: '微软雅黑';
  color: #000000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
  font-size: 100%
}

address,
cite,
dfn,
em,
var {
  font-style: normal
}

ul,
ol {
  list-style: none outside none
}

legend {
  color: #333333;
}

fieldset,
img {
  border: 0 none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

mark {
  background: none repeat scroll 0 0 #FFFF00
}

fieldset,
img,
a img,
iframe {
  border-width: 0;
  border-style: none
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden
}

.clearfix {
  zoom: 1
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""
}

blockquote,
q {
  quotes: ""
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"] {
  -webkit-appearance: none;
  border: none;
  outline: none;
  margin: 0;
}

input[type="text"],
input[type="radio"],
input[type="checkbox"],
textarea {
  outline: none;
  border: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none
}

img {
  display: block;
  /* width: 100%; */
  height: 100%;
}

label {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
